<!--
<div class="form-group required">
    <label class="control-label label-title">Vilka symptom fick du?</label>

    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="chestpains" id="chestpains" v-model="symptoms">
        <label class="form-check-label" for="chestpains">
            Illamående/buksmärtor
        </label>
    </div>
    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="vomit" id="vomit" v-model="symptoms">
        <label class="form-check-label" for="vomit">
            Kräkning
        </label>
    </div>
    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="fever" id="fever" v-model="symptoms">
        <label class="form-check-label" for="fever">
            Feber
        </label>
    </div>
    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="diarre" id="diarre" v-model="symptoms">
        <label class="form-check-label" for="diarre">
            Diarré
        </label>
    </div>
    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="Headache" id="Headache" v-model="symptoms">
        <label class="form-check-label" for="Headache">
            Huvudvärk
        </label>
    </div>
    <div class="form-check">
        <input autocomplete="off" class="form-check-input" type="checkbox" value="other" id="other" v-model="symptoms">
        <label class="form-check-label" for="other">
            Annat
        </label>
    </div>
    <span class="help is-danger" v-if="errors.has('symptoms')" v-text="errors.get('symptoms')"></span>
</div>-->
