<template>
    <div>
        <div class="form-group" :class="{ 'required': isRequired }">
            <label for="otherData" class="label-title" :class="{ 'control-label': isRequired }">
                {{ textArea_title }}
            </label>

            <textarea class="form-control" :name="name" :id="name" rows="4" v-model="state" @change="setState" :required="isRequired ? true : false"></textarea>
            <span class="help is-danger" v-if="errors.has(name)" v-text="errors.get(name)"></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            textArea_title: String,
            name: String,
            errors: Object,
            isRequired: {
                Type: Boolean,
                default: false
            }
        },

        data() {
            return {
                state: '',
            }
        },

        methods: {
            setState: function() {
                this.$emit('update:textArea', this.state);
            }
        }
    }
</script>