<template>
    <div>
        <div class="form-group" :class="{ 'required': isRequired }">
            <label :for="name" class="label-title" :class="{ 'control-label': isRequired }">
                {{ input_title }}
            </label>
            <input autocomplete="off" :type="type" :name="name" min="0" class="form-control" :id="name" v-model="state" @change="setState" :required="isRequired ? true : false">
            <small class="form-text text-muted" v-if="input_description">{{ input_description }}</small>

            <span class="help is-danger" v-if="errors.has(name)" v-text="errors.get(name)"></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            input_title: String,
            input_description: String,
            name: String,
            type: {
                type: String,
                default: 'text'
            },
            isRequired: {
                type: Boolean,
                default: true
            },
            errors: Object,
            input: String
        },

        data() {
            return {
                state: this.input,
            }
        },

        methods: {
            setState: function() {
                this.$emit('update:input', this.state);
            }
        },
    }
</script>