<template>
    <div class="container" id="form-container">
        <div class="row">

            <div class="col-lg-12">
                <h1>Anmäl om du tror att du blivit matförgiftad</h1>
                <p>Är du en av de 500 000 svenskar som blir matförgiftade varje år? Gör din anmälan här så skickas den snabbt och enkelt till den ansvariga i kommunen.</p>

                <form method="POST" action="/complaint" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)" @change="errors.clear($event.target.name)">

                    <!--Kommun-->
                    <div class="form-group required">
                        <label for="kommun" class="control-label label-title">Kommun</label>
                        <v-select v-model="form.kommun" :options="cities"></v-select>
                        <small class="form-text text-muted">Den kommun matstället ligger i.</small>

                        <span class="help is-danger" v-if="errors.has('kommun')" v-text="errors.get('kommun')"></span>
                    </div>
                    <!--Kommun-->

                    <!--restaurant-->
                    <custom-input
                            input_title="Ange matställets namn."
                            input_description="Ange matställets namn där maten serverades eller köptes. Matstället kan vara en restaurang, café eller annan servering, eller en livsmedelsbutik eller annat försäljningsställe."
                            name="restaurant"
                            :errors="errors"
                            :input.sync="form.restaurant"
                    ></custom-input>
                    <!--restaurant-->

                    <!--streetaddress-->
                    <custom-input
                            input_title="Matställets gatuadress."
                            name="streetaddress"
                            :errors="errors"
                            :input.sync="form.streetaddress"
                    ></custom-input>
                    <!--streetaddress-->

                    <!--date-->
                    <custom-input
                            input_title="Vilket datum åt ni måltiden?"
                            type="date"
                            name="date"
                            :errors="errors"
                            :input.sync="form.date"
                    ></custom-input>
                    <!--date-->

                    <!--time-->
                    <custom-input
                            input_title="Vid tid påbörjades måltiden?"
                            type="time"
                            name="time"
                            :errors="errors"
                            :input.sync="form.time"
                    ></custom-input>
                    <!--time-->

                    <!--sickFood-->
                    <custom-text-area
                            textArea_title="Vad åt du/ni för måltid och ingick det några tillbehör?"
                            name="sickFood"
                            :errors="errors"
                            :isRequired="true"
                            :textArea.sync="form.sickFood"
                    ></custom-text-area>
                    <!--sickFood-->

                    <!--symptom-->
                    <checkbox v-for="symptom in symptomsData"
                            class-name="p-default"
                            name="symptoms"
                            :value="symptom.message"
                            :key="symptom.id"
                            v-model="form.symptoms"
                            >
                        {{ symptom.message }}
                    </checkbox>
                    <span class="help is-danger" v-if="errors.has('symptoms')" v-text="errors.get('symptoms')"></span>
                    <!--symptom-->

                    <!--timeUntilSymptoms-->
                    <custom-input
                            input_title="Hur lång tid efter måltiden började symptomen? ange i hela timmar"
                            type="number"
                            name="timeUntilSymptoms"
                            :input.sync="form.timeUntilSymptoms"
                            :errors="errors"
                    ></custom-input>
                    <!--timeUntilSymptoms-->

                    <!--@update:input="form.timeUntilSymptoms = $event"-->
                    <!--care-->
                    <radio-button
                        radio_title="Har du behövt söka vård?"
                        name="care"
                        @update:radio="form.care = $event"
                    ></radio-button>
                    <!--care-->

                    <!--allergy-->
                    <radio-button
                            radio_title="Har du någon allergi eller överkänslighet mot livsmedel?"
                            name="allergy"
                            @update:radio="form.allergy = $event"
                    ></radio-button>
                    <!--allergy-->

                    <!--sickCount-->
                    <custom-input
                            input_title="Hur många blev sjuka?"
                            type="number"
                            name="sickCount"
                            :errors="errors"
                            :input.sync="form.sickCount"
                    ></custom-input>
                    <!--sickCount-->

                    <!--anonymous-->
                    <radio-button
                            :default_value="true"
                            radio_title="Jag vill göra en anonym anmälan"
                            radio_description="Vi rekommendera att du skickar med dina kontaktuppgifter i anmälan då det kan underlätta miljöförvaltningens undersökning om dem kan kontakta dig."
                            name="anonymous"
                            @update:radio="form.anonymous = $event"
                    ></radio-button>
                    <!--anonymous-->

                    <personal-information
                        v-if="! form.anonymous"
                        :errors="errors"
                        :name.sync="form.name"
                        :phone.sync="form.phone"
                        :email.sync="form.email"
                        :emailConfirmed.sync="form.emailConfirmed"
                        :checkCopy.sync="form.checkCopy"
                        :gpdr.sync="form.gpdr"
                    ></personal-information>

                    <!--otherData-->
                    <custom-text-area
                        textArea_title="Övrigt."
                        name="otherData"
                        :errors="errors"
                        :textArea.sync="form.otherData"
                    ></custom-text-area>
                    <!--otherData-->

                    <div class="captcha-container">
                        <vue-recaptcha
                                ref="recaptcha"
                                @verify="onVerify"
                                @expired="onExpired"
                                sitekey="6Lfxd2kUAAAAAEbLqM5Z1Xwr_1jjpoGA3S-ftzVe"
                        ></vue-recaptcha>
                    </div>
                    <p v-if="errors.any()"><strong>Följande fel upptäcktes, vänligen åtgärda och skicka igen.</strong></p>
                    <ul>
                        <li v-for="error in errors.getAll()">{{ error[0] }}</li>
                    </ul>
                    <div class="control">
                        <button type="submit" class="btn btn-primary" :disabled="captcha || errors.any()">Skicka</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from './Errors';
    import Success from './Success';
    import CustomInput from './Custom-Input';
    import CustomTextArea from './Custom-Textarea';
    import RadioButton from './Radio-Button';
    import PersonalInformation from './Personal';
    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    import VueRecaptcha from 'vue-recaptcha';
    import {Checkbox} from 'vue-checkbox-radio';


    export default {
        components: {
            Success, VueGoogleAutocomplete, VueRecaptcha, Checkbox, PersonalInformation, RadioButton, CustomInput, CustomTextArea
        },

        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    emailConfirmed: '',
                    phone: '',
                    sickCount: '',
                    allergy: false,
                    symptoms: [],
                    sickFood: '',
                    care: false,
                    restaurant: '',
                    streetaddress: '',
                    date: '',
                    time: '',
                    checkCopy: false,
                    gpdr: false,
                    kommun: '',
                    otherData: '',
                    anonymous: true,
                    timeUntilSymptoms:'',
                },
                captcha: true,
                errors: new Errors(),
                loading:true,
                success: [],
                cities: [],
                symptomsData: [
                    { id: 0, message: 'Illamående/buksmärtor' },
                    { id: 1, message: 'Kräkning' },
                    { id: 2, message: 'Feber' },
                    { id: 3, message: 'Diarré' },
                    { id: 4, message: 'Huvudvärk' },
                    { id: 5, message: 'Annat' }
                ]
            };
        },

        methods: {
            onSubmit() {
                axios.post('/complaint', this.form)
                .then((response) => {
                    window.location.href = response.data;
                })
                .catch( error => {
                    this.isErrors = true;
                    this.errors.record(error.response.data.errors)
                });
            },
            setCities() {
                axios.get('/get/cities')
                .then((response) => {
                    this.cities = response.data;
                    this.loading = false;
                })
                .catch( error => { 
                   swal('Vi upplever ett tekniskt fel. Var god försök ladda om sidan');
                   this.loading = false;
                });
            },
            /**
            * When the location found
            * @param {Object} addressData Data of the found location
            * @param {Object} placeResultData PlaceResult object
            * @param {String} id Input container ID
            */
            getAddressData: function (addressData, placeResultData, id) {
                this.address = addressData;
            },

            onVerify: function (response) {
                this.captcha = false;
            },
            onExpired: function () {
                this.captcha = true;
            },
            resetRecaptcha () {
                this.$refs.recaptcha.reset() // Direct call reset method
            },

        },
        mounted() {
            this.setCities();
        },

        computed: {
            kommun: function() {
                return this.form.kommun;
            },
            symptoms: function() {
                return this.form.symptoms;
            },
            gpdr: function() {
                return this.form.gpdr;
            },
            anonymous: function () {
                return this.form.anonymous;
            }

        },

        watch: {
            kommun: function () {
                this.errors.clear('kommun')
            },
            symptoms: function () {
                this.errors.clear('symptoms')
            },
            gpdr: function() {
                this.errors.clear('gpdr')
            },
            anonymous: function() {
                this.errors.clear('emailConfirmed')
                this.errors.clear('email')
                this.errors.clear('name')
                this.errors.clear('phone')
                this.errors.clear('gpdr')
            },
        }

    }
</script>

<style lang="scss">
    #form-container {
        .form-group.required .control-label:after {
            content:"*";
        }

        .help.is-danger, .form-group.required .control-label:after {
            color:red;
        }

        strong {
            color:red;
        }

        .label-title {
            font-weight: 600;
        }

        .label-anonymous {
            margin-bottom: 0;
        }

        .control {
            margin-top: 15px;
        }
        .btn:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
        .captcha-container {
            margin-top: 10px;
        }
        .checkbox-component>input+label>.input-box>.input-box-tick {
            height: 1em!important;
        }
        .checkbox-component {
            > input {
                + label > .input-box {
                    > .input-box-tick {
                        height: 1em!important;
                        vertical-align: initial!important;
                    }
                }
            }
        }
    }
</style>



