<template>
    <div>
        <!--Ditt namn-->
        <div class="form-group">
            <label for="name" class="control-label label-title">Ditt namn</label>
            <input autocomplete="off" type="text" class="form-control" id="name" name="name" v-model="name">

            <span class="help is-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
        </div>
        <!--Ditt namn-->

        <!--Telefonnummer-->
        <div class="form-group">
            <label for="phone" class="control-label label-title">Telefonnummer, inkl riktnummer</label>
            <input autocomplete="off" type="number" class="form-control" name="phone" id="phone" v-model="phone">
            <small class="form-text text-muted">Ange mobil eller hemnummer</small>

            <span class="help is-danger" v-if="errors.has('phone')" v-text="errors.get('phone')"></span>
        </div>
        <!--Telefonnummer-->

        <!--ANGE MAIL -->
        <div class="form-group">
            <label for="email" class="control-label label-title">Ange E-post</label>
            <input autocomplete="off" type="email" class="form-control" id="email" name="email" placeholder="namn@exempel.com" v-model="email">
            <small class="form-text text-muted">Angiven epost-adress vidarebefodras till den kommun som hanterar ärendet. Detta kan underlätta deras utredning.</small>

            <span class="help is-danger" v-if="errors.has('email')" v-text="errors.get('email')"></span>
        </div>
        <!--ANGE MAIL -->

        <!--Bekräfta email-->
        <div class="form-group">
            <label for="confirm-email" class="control-label label-title">Bekräfta email</label>
            <input autocomplete="off" type="email" class="form-control" id="confirm-email" name="emailConfirmed" placeholder="namn@exempel.com" v-model="emailConfirmed">

            <span class="help is-danger" v-if="errors.has('emailConfirmed')" v-text="errors.get('emailConfirmed')"></span>
        </div>
        <!--Bekräfta email-->

        <!--checkCopy-->
        <div class="form-check">
            <input autocomplete="off" class="form-check-input" type="checkbox" value="" id="checkCopy" v-model="checkCopy">
            <label class="form-check-label" for="checkCopy">
                Jag vill ha en kopia av min anmälan skickad till min e-postadress
            </label>
        </div>
        <!--checkCopy-->

        <!--gpdr-->
        <div class="form-check">
            <input autocomplete="off" class="form-check-input" type="checkbox" value="" id="gpdr" v-model="gpdr">
            <label class="form-check-label" for="gpdr">
                Jag godkänner att Matförgiftad.se skickar vidare mina personuppgifter till den kommunen där matstället finns.
                När uppgifterna kommit till kommunen blir uppgifterna offentliga och alla har rätt att ta del av dem. Du kan välja att inte lämna kontaktuppgifter,
                men då kan inte kommunen återkomma till dig om de har behov av ytterligare information. Chanserna att kunna utreda anmälan minskar då.
                Matförgiftad.se kommer aldrig dela dina kontaktuppgifter med någon annan än den kommun som anmälan gäller. Vi tycker lika illa om spam som du gör!
            </label>

            <span class="help is-danger" v-if="errors.has('gpdr')" v-text="errors.get('gpdr')"></span>
        </div>
        <!--gpdr-->
    </div>
</template>

<script>
    import CustomInput from './Custom-Input';
    export default {
        components: {
            CustomInput
        },

        props: ['errors'],

        data() {
            return {
                name: '',
                phone: '',
                email: '',
                emailConfirmed: '',
                checkCopy: false,
                gpdr: false,
            }
        },

        watch: {
            name: function(val) {
                this.$emit('update:name', val);
            },

            phone: function(val) {
                this.$emit('update:phone', val);
            },

            email: function(val) {
                this.$emit('update:email', val);
            },

            emailConfirmed: function(val) {
                this.$emit('update:emailConfirmed', val);
            },

            checkCopy: function(val) {
                this.$emit('update:checkCopy', val);
            },

            gpdr: function(val) {
                this.$emit('update:gpdr', val);
            },
        },
    }

</script>