<template>
    <div>
        <div class="form-group required">
            <label class="control-label label-title label-anonymous">{{ radio_title }}</label>
            <label v-if="radio_description"> {{ radio_description }}</label>
            <div class="form-check">
                <input autocomplete="off" class="form-check-input" type="radio" :value="true" :id="name" v-model="state" @change="setState">
                <label class="form-check-label" :for="name">
                    Ja
                </label>
            </div>
            <div class="form-check">
                <input autocomplete="off" class="form-check-input" type="radio" :value="false" :id="name + 2" v-model="state" @change="setState">
                <label class="form-check-label" :for="name + 2">
                    Nej
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            radio_title: String,
            radio_description: String,
            name: String,
            default_value: {
                type: Boolean,
                default: false

            }
        },

        data() {
            return {
                state: this.default_value,
            }
        },

        methods: {
            setState: function() {
                this.$emit('update:radio', this.state);
            }
        }
    }
</script>