<template>
    <div class="col-md-8">
        <h1>Anmälan skickad!</h1>

        <h3>Vad händer nu?</h3>
        <p>
            När din anmälan kommit in börjar arbetet med att konstatera vilket livsmedel som orsakat matförgiftningen och spåra varifrån smittan kommer.
            Tiden det tar att utreda en anmälan varierar beroende på hur många som har drabbats och var den misstänkta maten kommer ifrån.
        </p>
        <p>
            Det finns en möjlighet att miljöförvaltningen kommer att vilja kontakta dig.
            Detta gör dem för att arbetet att spåra smittan kan gå snabbare och lättare om dem kan kontakta dig för att ställa kompletterande frågor.
        </p>

        <h4 v-if="kommun">Din anmälan har nu blivit skickad {{ kommun }}</h4>

        <p v-if="email">En kopia av anmälan har skickats till din Email.</p>
    </div>
</template>

<script>
    export default {
        props: ['response'],

        data() {
            return {
                kommun: this.response.kommun,
                email: this.response.email,
            };
        },
    }
</script>

