
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
/*@import "variables";*/
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$break-small: 580px;
$break-medium: 768px;
$break-large: 992px;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*@import "layouts/nav";
@import "layouts/footer";
@import "layouts/main";*/

html, body {
  height: 100%;
}
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Graphik Regular","Helvetica Neue",Helvetica,Arial,Sans-serif;
  font-weight: 200;
}

p
{
  font-weight: 400;
  font-size: 16px;
}


@media screen and (max-width:$break-large) {

}

@media screen and (max-width:$break-medium) {
}

@media screen and (max-width:$break-small) {

  input
  {
    font-size:16px !important;
  }
}


/**/
/**/
/**/
/** MAIN **/
/**/
/**/
/**/
main {
  padding-top: 25px;
  padding-bottom: 75px;
  flex: 1 0 auto;
}

.btn-primary {
  background-color: #0075b0;
  margin-bottom: 1.5rem;
} /** MAIN **/


/**/
/**/
/**/
/** NAV **/
/**/
/**/
/**/

.container-header {
  margin: 0;
  min-width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #919191;
}

.navbar-light  {
  line-height: 1;
  background-color: #fff;
  padding: 0 0 0 15px;

  .nav-item {
    padding: 0 10px 0 10px;
  }

  .navbar-brand {
    font-size: 1.74rem;
    font-weight: 600;
    font-family: "Graphik Bold","Helvetica Neue",Helvetica,Arial,Sans-serif;
  }
  .navbar-toggler {
    background-color: #0075b0;
    padding: 1rem 1.40rem;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-nav .nav-link {
    color: #000000;
  }
}


.page-header {
  .row {
    margin: 0;
  }
  .page-text-container {
    border-bottom: 1px solid #2B2B2B;
    padding: 1rem 0 1rem 0;
  }
  span {
    font-weight: 600;
    font-size: 16px;
    font-family: "Arnhem Bold",Georgia,serif;
  }
  span:nth-child(1) {
    padding-right: 0.5rem;
  }
  span:nth-child(2) {
    padding-left: 0.5rem;
  }

}

.photo-container {
  padding: 0;
  .row {
    width: 100%;
    margin: 0;
  }
  .photo-wrapper {
    padding: 0;
  }
  .photo {
    height: auto;
    justify-content: inherit;
    align-items: inherit;
    img {
      max-height: 500px;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}


@media screen and (max-width:$break-large) {
  .container {
    margin: 0;
    min-width:100%;
  }
  .container-header {
    padding: 0;
  }

  .navbar-light {
    .nav-item {
      padding: 4px 0 4px 0;
    }
  }
}

@media screen and (max-width:$break-medium) {
}

@media screen and (max-width:$break-small) {

}/** NAV **/



/**/
/**/
/**/
/** footer **/
/**/
/**/
/**/

footer {
  padding-top: 15px;
  flex-shrink: 0;
  background-color: #434343;
  line-height: 24px;
  text-align: center;

  ul {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  ul > li {
    list-style-type: none;
  }
  a {
    color: #fff;
    font-family: "Graphik Regular","Helvetica Neue",Helvetica,Arial,Sans-serif;
    font-size: 12px;
  }
  .title {
    font-weight: 800;
    font-family: "Graphik Bold","Helvetica Neue",Helvetica,Arial,Sans-serif;
    padding-bottom: 25px;
    width: 100%;
    display: inline-block;
  }
  li {
    padding: 0 15px 0 15px;
    display: inline-block;
  }
}

@media screen and (max-width:$break-large) {

}

@media screen and (max-width:$break-medium) {
}

@media screen and (max-width:$break-small) {
  footer {
    .title {
      padding-bottom: 15px;
    }
    li {
      width: 100%;
    }
  }
}/** footer **/